.App {
  height: 100%;
  min-height: 100vh;

  background: rgb(28,98,162);
  background: linear-gradient(0deg, #1c62a2 0%, #b92eba 100%);

  display: grid;
  place-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0;
}
.content {
  width: 100%;

  background-color: #f3f3f3;

  padding: 23px;

  text-align: center;
  border: 2px solid #f3f3f3;
}

.content h1 {
  margin-top: 0;
}
